.about_title {

    height: 25rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    video{
        height: 25rem;
        width: 100%;
        object-fit: cover;

        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
}


.about_img {
    /* border: 1px solid red; */
    height: 25rem;
    width: 50%;

    img {
        height: 25rem;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
}