*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn{
height: 45px;
width: 120px;
padding-top: 7px;
font-weight: bold;
color:  rgb(233, 130, 20) !important ;
background-color: rgb(232, 228, 234) !important;
border: chocolate;
  }
  .btn:hover{
    background-color:  rgb(233, 130, 20) !important  ;
    color: #fff !important;
   border: none;
  }
  